.category{
  .carousel-img{
    height: 350px;
    background-color: pink;
  }
  .card-img{
    height: 150px;
    width: 308px;
    background-color: pink;
  }
}
.td-content-col{
  padding: 20px !important;
}
