<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告栏</title>
    {include file="/layout/head"}
</head>
<body>
{include file="/layout/header"}
<div class="container">
    <nav class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/stage/">首页</a></li>
            <li class="breadcrumb-item"><a href="/stage/competitions_news">赛事列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">公告</li>
        </ol>
    </nav>
    <h4 class="mt-5 mb-5" style="border-left: solid 4px palevioletred;padding-left: 10px"> 公告栏</h4>
    <hr style="color: palevioletred">
    <ul class="list-group list-group-flush mt-2">
        {volist name="guides" id="v" key="k"}
        <li class="list-group-item d-flex list-group-item-action p-3">
            <a class="d-flex w-100 justify-content-between text-decoration-none text-body" href="/stage/guide_detail?id={$v->id}">
                <h6 class="mb-1" >
                    <span style="display:inline-block;height:5px;width: 5px;background: palevioletred;border-radius: 50%;margin-right: 5px;"></span>
                    {$v->title}
                </h6>
                <small>{$v->date}</small>
            </a>
        </li>
        {/volist}
    </ul>
</div>

</body>
</html>