<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    {include file="/layout/head"}
    {include file="/tools/fileinput"}
    <style>
        #edit {
            font-size: 20px;
            color: cornflowerblue;
            position: absolute;
            right: -0px;
            top: -10px;
        }

        #edit:hover {
            cursor: pointer;
            transform: scale(1.1);
            /*transition: all 500ms;*/
        }
    </style>
</head>
<body>
{include file="/layout/header"}
<div class="detail">
    <div class="container">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3 w-25" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true" style="background: none"><h4 style="color: #1a1e21"></h4>
                </button>
                <div class="w-100 text-center">
                    <figure class="figure">
                        <!--                                figure-img img-fluid rounded-->
                        <img src="/static/image/myHome/girl.svg" class=""
                             style="display:block;height: 250px;width: 250px;"
                             alt="随便一个插画">
                        <figcaption class="figure-caption">元气满满每一天。</figcaption>
                    </figure>
                </div>
            </div>
            <div class="tab-content w-100" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="w-100">
                        <div class="p-4">
                            <div class="row d-flex align-items-center justify-content-center shadow p-3 mb-5 bg-body rounded">

                                <div class="col-5 p-3">
                                    <figure class="figure d-flex flex-column align-items-center justify-content-center">
                                        <!--                                figure-img img-fluid rounded-->
                                        <img src="{$user.avatar}" class=""
                                             style="display:block;border-radius:50%;height: 110px;width: 110px;background: palevioletred"
                                             alt="...">
                                        <figcaption class="figure-caption"
                                                    style="text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:2;overflow: hidden;"
                                                    title="{$user.motto}">{$user.motto}
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-7 position-relative">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"
                                            style="font-size: .875em;color: #6c757d;background: none;border: none">
                                            用户名：{$user.nickname}
                                        </li>
                                        <li class="list-group-item"
                                            style="font-size: .875em;color: #6c757d;background: none;border: none">
                                            邮箱：{$user.email}
                                        </li>
                                        <li class="list-group-item"
                                            style="font-size: .875em;color: #6c757d;background: none;border: none">
                                            电话：{$user.phone}
                                        </li>
                                        <li class="list-group-item"
                                            style="font-size: .875em;color: #6c757d;background: none;border: none">
                                            地址：{$user.address}
                                        </li>
                                    </ul>
                                    <!-- Modal btn -->
                                    <i id="edit" class="bi bi-gear-fill" data-bs-toggle="modal"
                                       data-bs-target="#formModal"></i>
                                </div>


                                <!-- Modal -->
                                <div class="modal  fade" id="formModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-lg">
                                        <div class="modal-content container">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">编辑</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="form" class="">
                                                    <input name="id" id="id" type="text" value="{$user.id}"
                                                           style="display: none"/>
                                                    <div class="row mb-3">
                                                        <label for="btnImg" class="col-sm-2 col-form-label"></label>

                                                        <div class="col p-2">
                                                            <img style="width:100px;height:100px;border-radius: 50%;"
                                                                 id="imgEmdImg"
                                                                 class="img-circle" src="{$user.avatar}">
                                                            <button type="button" id="btnImg"
                                                                    class="btn btn-outline-primary"
                                                                    data-bs-toggle="modal" data-bs-target="#fileModal"
                                                                    data-dismiss="modal">修改头像
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="email" class="col-sm-2 col-form-label">邮箱</label>
                                                        <div class="col-sm-10">
                                                            <input name="email" type="email" class="form-control"
                                                                   id="email"
                                                                   value="{$user.email}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="nickname"
                                                               class="col-sm-2 col-form-label">用户名</label>
                                                        <div class="col-sm-10">
                                                            <input name="nickname" type="text" class="form-control"
                                                                   id="nickname"
                                                                   value="{$user.nickname}">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="motto" class="col-sm-2 col-form-label">签名</label>
                                                        <div class="col-sm-10">
                                                            <textarea name="motto" type="textarea" class="form-control" rows="5"
                                                                      id="motto">{$user.motto}</textarea>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <label for="name" class="col-sm-2 col-form-label">姓名</label>
                                                        <div class="col-sm-10">
                                                            <input name="name" type="text" class="form-control"
                                                                   id="name"
                                                                   value="{$user.name}">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="phone" class="col-sm-2 col-form-label">电话</label>
                                                        <div class="col-sm-10">
                                                            <input name="phone" type="text" class="form-control"
                                                                   id="phone"
                                                                   value="{$user.phone}">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="address" class="col-sm-2 col-form-label">地址</label>
                                                        <div class="col-sm-10">
                                                            <textarea name="address" type="textarea" rows="5"
                                                                      class="form-control"
                                                                      id="address">{$user.address}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="password" class="col-sm-2 col-form-label">密码</label>
                                                        <div class="col-sm-10">
                                                            <input name="password" type="password" class="form-control"
                                                                   id="password"
                                                                   value="{$user.password}">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="button" class="btn btn-primary" id="saveBtn">Save
                                                    changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row shadow-sm p-3 mb-5 bg-body rounded">
                                <p class="row h4 mb-3">我的竞赛</p>
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">

                                        </th>
                                        <th scope="col">赛事名称</th>
                                        <th scope="col">报名时间</th>
                                        <th scope="col">比赛状态</th>
                                        <th scope="col">审核状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $attend as $v}
                                    <tr>
                                        <th><span class="rounded-circle"
                                                  style="display:inline-block;height: 10px;width: 10px;background: pink"></span>
                                        </th>
                                        <td><p style="max-width: 250px;">{$v.competition_title}</p></td>
                                        <td>{$v.date}</td>
                                        <td>
                                            {if $v['progress'] == 'registerStart'}
                                            <span class="badge bg-success">火热报名中</span>
                                            {elseif $v['progress'] == 'registerEnd'}
                                            <span class="badge bg-success">报名结束</span>
                                            {elseif $v['progress'] == 'started'/}
                                            <span class="badge bg-primary ">比赛进行中</span>
                                            {elseif $v['progress'] == 'ended'/}
                                            <span class="badge bg-danger">比赛已结束</span>
                                            {elseif $v['progress'] == 'preview'/}
                                            <span class="badge bg-info">赛事预告</span>
                                            {/if}
                                        </td>
                                        <td>
                                            {if $v.status == 'pass'}
                                            <span class="badge bg-success">报名成功</span></td>
                                        {elseif $v.status == 'commit'/}
                                        <span class="badge bg-primary ">审核中</span>
                                        {elseif $v.status == 'refuse'/}
                                        <span class="badge bg-danger">报名失败</span>
                                        {/if}
                                        </td>
                                        <td class="d-flex">
                                            <a href="/stage/detail?id={$v.competition}">竞赛详情</a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->


<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                    上传头像</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <from id="videoForm">
                    <input id="txt_file" type="file" name="avatar">
                </from>

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<!-- /.modal -->
<script>
    var EmImg = ""; //定义初始头像  我这里定义为空
    //初始化fileinput
    var FileInput = function () {
        var oFile = new Object();

        //初始化fileinput控件（第一次初始化）
        oFile.Init = function (ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);

            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                allowedFileExtensions: ['jpg', 'gif', 'png','jpeg'],//接收的文件后缀
                showUpload: true, //是否显示上传按钮
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                //dropZoneEnabled: false,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 1, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount: true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            });

            //导入文件上传完成之后的事件
            $("#txt_file").on("fileuploaded", function (event, data, previewId, index) {
                // var data = data.response;
                EmImg = data.response;
                console.log(EmImg)
                // console.log(data)
                // var last = data.lastIndexOf("Upload");
                // EmImg = data.substring(last + 7);
                //document.getElementById('videoForm').outerHtml = document.getElementById('videoForm').outerHtml;
                //document.getElementById("videoForm").reset();
                $("#fileModal").modal('hide');
                $("#formModal").modal('show');
                $("#imgEmdImg").attr("src", EmImg);


                //alert(EmImg);
                // 1.初始化表格
                //var oTable = new TableInit();
                //oTable.Init(data);
            });
        }
        return oFile;
    };
    //上传头像
    var oFileInput = new FileInput();
    oFileInput.Init("txt_file", "/users/upload_avatar");

    // //弹出添加图片模态
    // $("#btnImg").click(function () {
    //     $("#Modal").modal("show");
    // });

    $('#saveBtn').click(function (e) {
        const data = {};
        const formData = $('#form').serializeArray();
        $.each(formData, function (index, item) {
            data[item.name] = item.value
        });
        data.avatar = $("#imgEmdImg").attr("src");
        axios({
            method: 'put',
            url: '/users/{$user->id}',
            data
        }).then(res => {
            $("#fileModal").modal('hide');
            $("#formModal").modal('hide');
            alert('保存成功')
            $.removeCookie('uid',{ path: '/' }) && $.removeCookie('uname',{ path: '/' }) && $.removeCookie('avatar',{ path: '/' })
            window.location.reload()
        }).catch(e => {
            alert('保存失败' +
                '')
        })
    })


</script>
</body>
</html>